.azure
.bridge
.cache
.config
.aws
.docker
.krew
.kube
.landscape
.local
.minikube
.redhat
.vscode-server
.bash_history
.bash_logout
.bashrc
.motd_shown
.profile
.sudo_as_admin_successful
.viminfo
.wget-hsts
10-pod.yaml
kubectl.sha256
